<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kk">
<head>

<title>Хабарламалар</title>
	<div th:replace="header :: header-css"/>
</head>
<body>
	<div th:replace = "header :: mynavbar"/> 
	<br/></br>
	<div class="container text-center">
	
		<div>
			<h1>Хабарламалар</h1>
		</div>

		<div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>						
						<th>Уақыт</th>
						<th>Хабарлама</th>						
					</tr>
				</thead>
				<tbody>
					<tr th:each="notif: ${notifications}">							
						<td th:text="${#temporals.format(notif.dateTime, 'HH:mm dd-MM-yyyy')}">startTime</td>
						<td th:text="${notif.message}"></td>					
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>